<h1 class="ui header"><%= @trip.id ? "Edit Trip" : "Create Trip" %></h1>
<hr />
<%= form_with(model: @trip, local: true, class: "ui form") do |f| %>
  <div class="inline field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true %>
  </div>
  <br />
  <div class="inline field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date, required: true %>
  </div>
  <br />
  <div class="inline field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date, required: true %>
  </div>
  <br />
  <%= f.submit nil, class:"ui basic teal small button" %>
  
<% end %>
<br/>
<%= link_to "Back", trips_path, class:"ui basic red small button" %>