  <div class="ui container" >
    <h1>Trip: <%= @trip.name %> </h1>
    <br/>
    <h3> Start Date: </h3>
    <h3><%=  @trip.start_date.strftime("%F") %> </h3>
    <br/>
    <h3> End Date: </h3>
    <h3><%=  @trip.end_date.strftime("%F") %></h3>
  </div>

  <hr />
  <%= link_to "Locations", trip_locations_path(@trip), class: "ui basic teal button" %>
  <%= link_to "Edit Trip", edit_trip_path, class: "ui basic teal button" %>
  <%= link_to "Delete Trip", [@trip], method: :delete, class: "ui basic red button" %>
  <%= link_to "Back to Trips", trip_locations_path(@trip), class: "ui basic teal button" %>
</div>

