  <div class="ui container">
    <br/>
  <div class="ui center aligned header">
    <h1 class="ui huge header"><%= @trip.name %></h1>
  </div>
    <hr />
    <h3> Start Date: <%= @trip.start_date.strftime("%F") %> </h3>
    <h3> End Date: <%= @trip.end_date.strftime("%F") %></h3>
    <br />
  </div>
<div class="ui divider"></div>
<div class="ui container">
	<div class="ui button basic">
		<%= link_to 'Add Review', new_trip_review_path %>
	</div>
</div>
<div class ="ui divider"></div>
  <%= link_to "Locations", trip_locations_path(@trip), class: "ui basic teal button" %>
  <%= link_to "Edit Trip", edit_trip_path, class: "ui basic teal button" %>
  <%= link_to "Delete Trip", [@trip], method: :delete, class: "ui basic red button" %>
  <%= link_to "Back to Trips", trip_locations_path(@trip), class: "ui basic teal button" %>
</div>

