<h1>Addresses</h1>
<% @location.addresses.each do |address| %>
  <div class="card-panel hoverable">
        <h1><%= address.street %></h1>
        <h3><%= address.city %></h3>
        <h3><%= address.state %></h3>
        <h3><%= address.zip %></h3>
        <%= link_to "Edit Address", edit_location_address_path(@location, address) %>
        <%= link_to "Delete Address", [@location, address], method: :delete %>
<% end %>
  </div>

<%= link_to "Add Address", new_location_address_path(@location) %>
<%= link_to "Back", location_addresses_path(@location) %>
