<h1>Reviews#index</h1>
<h2>Current User: <%=current_user.id%> </h2>
<ul>
	<% @reviews.each do |review|%>
		<li>
			<h3> User: <%=review.user.id%> </h3>
			<%=review.author + " #{review.rating}"%>
			<%=review.body%>
			<%= link_to 'Edit', edit_review_path(review) %>
			<%= link_to 'Delete', [review], method: :delete %>
		</li>
	<%end%>
</ul>
