
<div class="ui container">
	<div class="ui header">Author: <%= @review.author %></div>
	<div class="ui red label"> <%="#{@review.rating}/100"%></div>
</div>
<div class="ui divider"><div>
<div class="ui text container">
	<%=@review.body%>
</div>
<% if @review.user_id == current_user.id %>
	<div>
			<%=link_to "Delete Review", [@review], method: :delete, class:"ui button red" %>
	</div>
	<div>
		<%=link_to "Edit Review", edit_trip_review_path(@review), class: "ui button green"%>
	</div>
<%end%>
<br />
<div class="ui button basic">
	<%= link_to "Back to Reviews", reviews_path %>
</div>

