<%= form_for [@location] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.label :day %>
    <%= f.text_field :day, required: true, placeholder: "Day" %>
  </div>
  <%= f.submit %>
<% end %>