
  <div class="ui secondary pointing menu nav-bar-padding">
    <a class="item">
      <%= link_to 'Trips', trips_path %>
    </a>
    <a class="item">
      <%= link_to 'Reviews', reviews_path %>
    </a>
    <a class="item">
      <%= link_to 'Random Trips', random_path %>
    </a>
		<a class="item">
			<%= link_to 'Add Trip', new_trip_path %>
		</a>
    <a class="item">
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
   </a>
  </div>

